body {
  background: url('bg.png');
}
.tile {
  box-shadow: 10px 10px 6px -6px #777;
}
.monster, .gameover {
  opacity: 0;
  transition: opacity 0.5s;
}
.tile.selected .monster, .gameovershow {
  opacity: 1;
}
.playagain {
  margin-left: 10px;
}
