body {
  margin-top: 20px;
  background: url('bg.png');
}
.tile {
  box-shadow: 5px 10px 6px -6px #777;
}
.monster {
  opacity: 0;
  transition: opacity 0.5s;
}
.tile.selected .monster {
  opacity: 1;
}
